body{
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}


#dolphin-crm{
    background-color: #0b0b1d;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
}

#dolphin-crm h4{
    color: #fff;
    font-size: 20px;
    margin: 0;
}

#dolphin-logo{
    width: 5%;
    height: auto;
}

#wrapper{
    display: flex;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 25px;

    height: 90vh;

    

    box-shadow: 2px 0px 4px rgb(232, 232, 232);

}

#nav-bar hr{
    border: none;
    height: 3px;
    background-color: rgb(243, 243, 243);

    width: 20vw;
    border-radius: 5px;
    
    
}

.navButton{
    border: none;
    cursor: pointer;
    margin: 12px;
    background-color: rgba(255, 255, 255, 0);

    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 600;

    transition: 0.5s;

    border-radius: 5px;

    
    
}

.navButton:hover{
    transition: 0.5s;

    background-color: rgb(237, 237, 237);
    padding: 5px;
}

.navButton img{
    margin-right: 30px;
}

#updating-div{

    padding: 50px;
    background-color: rgb(243, 243, 243);
    width: 80vw;

}

#section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerButton{
    background-color: rgb(81, 78, 243);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 10vw;
    cursor: pointer;

    transition: 0.5s;
}

.headerButton:hover{
    transition: 0.5s;
    background-color: rgb(80, 157, 47);
}

#results-wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 2px rgb(232, 232, 232);
    background-color: #fff;

    padding: 50px;
}

#filter-controls{
    display: flex;
    align-items: center;
}

.filterButton{
    margin: 0 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    font-size: 15px;
    color: #a3a3a3;

    transition: 0.5s;

}

.filterButton:hover{
    color: #f07a2c;
    transition: 0.5s;
    cursor: pointer;
}

.filterButton:focus{
    color: #6161ce;
    outline: 0;
}

table{
    border-collapse: collapse;
    border: 1px solid rgb(243, 243, 243);
}
  
th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(243, 243, 243);
}

td:nth-child(1){
    font-weight: bold;
}

td:nth-child(2){
    color: #a3a3a3;
}

td:nth-child(3){
    color: #a3a3a3;
}

th{
    background-color: rgb(243, 243, 243);
    
}

table a{
    transform: 0.5s;
    text-decoration: none;
    color: #6161ce;
}

table a:hover{
    transition: 0.5s;
    color: #f07a2c;
}

.salesLead{
    background-color: #ffee00;
    border-radius: 5px;
    color:#6161ce;
    padding: 5px;
    text-align: center;

}

.support{
    background-color: #6161ce;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
}